@import "../../partials/media-queries.scss";
@import "../../partials/colors.scss";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.367);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  // pointer-events: none;
  transition: opacity 0.4s ease;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.modalContent {
  background: #f7f4e9;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $cordwood;
  width: 500px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  color: $cordwood;
  transform: scale(0.9);
  opacity: 0;
  will-change: transform, opacity;
  transition: transform 0.4s ease, opacity 0.4s ease;
  @include tablet {
    width: 400px;
    max-height: 70vh;
  }
  @include phone {
    width: 90%;
    max-height: 60vh;
    padding: 15px;
  }
}

.modalOverlay.active .modalContent {
  transform: scale(1);
  opacity: 1;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: $cordwood;
  &:hover {
    color: $morning-blue;
  }
  @include phone {
    font-size: 1.5rem;
  }
}

.bookDetails {
  text-align: center;
  @include phone {
    padding: 10px;
  }
}

.image {
  max-width: 150px;
  margin: 0 auto 20px auto;
  display: block;
  border-radius: 8px;
  @include tablet {
    max-width: 120px;
    margin-bottom: 15px;
  }
  @include phone {
    max-width: 100px;
    margin-bottom: 10px;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  font-family: "Merriweather";
  @include tablet {
    font-size: 1.3rem;
  }
  @include phone {
    font-size: 1.2rem;
  }
}

.authors,
.category,
.publisher,
.language,
.description {
  margin: 5px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lora";
  @include tablet {
    font-size: 0.9rem;
  }
  @include phone {
    font-size: 0.8rem;
  }
}
