@import "../../partials/colors.scss";

.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    .details {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #d9a5b3e6;
  color: $cordwood;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3 ease, transform 0.3s ease;
  .title {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Merriweather", serif;
    // margin-bottom: 5px;
  }
  .author {
    font-size: 0.9rem;
    font-style: italic;
    font-family: "Lora", serif;
    // margin-bottom: 5px;
  }
  .description {
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: "Lora", serif;
  }
}
